a {
  color: #0366d6;
}

code {
  color: #e01a76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}
.btn-submit{
  display: flex;
  align-items: center;
  justify-content: center;
}

button:disabled {
  cursor: no-drop;
}

.btn-submit button{
  width: 100%;
}

.modal-backdrop.fade {
  opacity: 0.5;
}

